#container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 400px;
}

#name {
	display: flex;
	font-family: 'Lato', sans-serif;
	font-size: 150px;
}

#line {
	align-items: flex-end;
	display: flex;
	height: 150px;
	margin-left: 20px;
	width: 400px;
}

.letter-container {
	display: flex;
	position: relative;
	width: 100px;
}

#container-i {
	width: 80px;
}

/*since height grows from top to bottom, flip these so they grow vertically*/
.segment {
	height: 13px;
	overflow: hidden;
	transform: rotate(180deg);
	width: 100px;
}

.top-segment {
	height: 13px;
	overflow: hidden;
	width: 100px;
}


.fill, .bottom-fill {
	background-color: black;

}

.bottom-fill {
	height: 100px;
}

.top-fill {
	background-color: black;
	height: 13px;
	position: absolute;
	
	width: 0px;
}

#segment13 .top-fill, #segment15 .top-fill {
	right: 50%;
}


p {
	font-size: 24px;
}



#segment6, #segment7, #segment8, #segment9, #segment10, #segment11 {
	bottom: 0;
	height: 110px;
	position: absolute;
	width: 15px;
}

#segment7 {
	left: 22px;
}

#segment9 {
	bottom: -4px;
	left: 32px;
	height: 119px;
	transform: rotate(149deg);
}

#segment10 {
	left: 64px;
}

#segment12 {
	bottom: 50px;
	display: block;
	position: absolute;
	width: 70px;
}

#segment13, #segment14, #segment15 {
	display: block;
	position: absolute;
	bottom: 97px;
	width: 60px;
}

#segment14 {
	width: 80px;
}

#segment15 {
	transform: rotate(0deg);
}

#segment1 {
	min-width: 70px;
}

#segment2 {
	min-width: 60px;
}

#segment3 {
	min-width: 15px;
}

#segment5 {
	min-width: 80px;
}






