#container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 400px;
}

#name {
	display: flex;
	font-family: 'Lato', sans-serif;
	font-size: 150px;
}

#line {
	align-items: flex-end;
	display: flex;
	height: 150px;
	margin-left: 20px;
	width: 400px;
}

.letter-container {
	display: flex;
	position: relative;
	width: 100px;
}

#container-i {
	width: 80px;
}

/*#container-n {
	width: 110px;
}*/

.segment {
	height: 13px;
	overflow: hidden;
	transform: rotate(180deg);
	width: 100px;
}


.fill, .bottom-fill {
	background-color: black;

}

.bottom-fill {
	height: 100px;
}

p {
	font-size: 24px;
}




/*#segment4 {
	left: 54px;
	position: relative;
}*/

#segment6, #segment7, #segment8, #segment9, #segment10, #segment11 {
	bottom: 0;
	height: 110px;
	position: absolute;
	width: 15px;
}

#segment7 {
	left: 22px;
}

#segment9 {
	bottom: -4px;
	left: 32px;
	height: 119px;
	transform: rotate(149deg);
}

#segment10 {
	left: 64px;
}

#segment12 {
	bottom: 50px;
	display: block;
	position: absolute;
	width: 70px;
}

#segment13, #segment14 {
	display: block;
	position: absolute;
	bottom: 97px;
	width: 60px;
}

#segment14 {
	width: 80px;
}






